body{
    background-color: rgb(240, 18, 203);
    color:blueviolet ;
}

.cabeçalho-img {
    width: 8%;
}
.cabeçalho{
background-color: #86216d;
color: rgb(74, 241, 247);
display: flex;
  justify-content: space-around;
} 

.cabeçalho-lista-item{
display: inline-block;
    }